@use 'src/assets/scss/_var.scss' as *;

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

/* Generals */
.container {
    margin: 0 auto;
    width: 1200px;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style-type: none;
}